# Vim
*.sw[g-p]

# Python
*.pyc
*.pyo

# Build products
/common/frontend/coverage/
/common/frontend/*/dist/
/common/frontend/cp/schema.graphql
/common/php/plib/GraphQl/schemaCache.php
/common/php/plib/backup/Agent/Schema
/unix/plesk/build
/unix/plesk/tags
/unix/plesk/distfiles
/unix/plesk/release
/unix/plesk/api/update_list.py
/unix/plesk/build-utils/phpc/encryptor
/unix/plesk/build-utils/phpc/phpc
/unix/plesk/packages/tags
/unix/plesk/packages/distfiles
/unix/plesk/packages/product.mk
/unix/plesk/packages/product.conf
/unix/plesk/packages/*/work
/unix/plesk/plesk-utils/*/.depend
/windows/binary/plesk-utils/.build
/windows/binary/plesk-utils/.vs
/windows/binary/plesk-utils/ipch
/windows/binary/plesk-utils/Plesk.sdf
/windows/binary/plesk-utils/Plesk.opensdf
/windows/binary/plesk-utils/PMM.VC.db
/windows/binary/plesk-utils/Plesk.VC.db
/windows/binary/plesk-utils/Plesk.VC.VC.opendb
/windows/binary/plesk-utils/**/*.vcxproj.user
/windows/binary/plesk-utils/**/[Bb]in
/windows/binary/plesk-utils/**/[Oo]bj
/windows/binary/plesk-utils/**/[Rr]elease
/windows/binary/plesk-utils/**/[Rr]elease_x64
/windows/binary/plesk-utils/**/[Dd]ebug
/windows/binary/plesk-utils/**/Release\ UNICODE
/windows/binary/plesk-utils/**/release\ unicode
/windows/binary/plesk-utils/**/x64
/windows/binary/plesk-utils/kavsvc/_*
/windows/binary/plesk-utils/kavsvc/dlldata.c
/windows/binary/plesk-utils/mailmng/memta/_*
/windows/binary/plesk-utils/plesksrv/eventmsg.h
/windows/build/components/**/work
/windows/build/components/**/build-log.txt
/windows/build/packages/**/work
/windows/build/packages/**/cache
/windows/build/packages/**/build-log.txt
/windows/build/work
/phpunit.xml
/.phpunit.result.cache
/.phpunit.coverage/
/.phpunit.coverage.*
/common/php/plib/vendor/
/node_modules
/yarn-error.log
**/*.o
**/*.pp
**/*.So
**/*.a
**/*.ppdef

# Buck (Linux)
/buck-out
/.buckconfig.local
/.nobuckcheck
/.buckd
/unix/plesk/packages/.deploy

.idea

.DS_Store

vendor
